:root {
  --text-color-bt: #fff;
  --bt-background: #00D9A5;
  --text-color-menu: rgba(110, 128, 122, 0.8);
  --text-color-welcome: #6E807A;
  --background-welcome: #F7F5FD;
  --bachground-bt-nossos-dotores: #1D2A4D;
  --background-nossos-service: #F7F5FD;
  --h1-about: #13C5DD;
  --test-footer: #EFF5FF;
  --background-geral: rgba(255, 255, 255, 0.95);
  --button-background: #007cc2;
  --text-color-white: #ffffff;
  --background-button: #e7f4f4;
  --box-schadow: 0px 0px 15px #999;
  --border-bottom: 1px solid var(--text-color-white);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Inter";
}

.container {
  display: grid;
  grid-template-columns: 4fr 16fr;
  grid-template-rows: 4rem 30rem;
  grid-template-areas:
    "menuLeft header"
    "menuLeft containerBody";
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  transition: all ease .5s;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal .card {
  width: 25rem;
  height: 30rem;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  grid-area: header;
}

.menuLeft {
  grid-area: menuLeft;
  background: var(--bachground-bt-nossos-dotores);
  margin: 3rem 10px 0 10px;
  height: 26rem;
  width: 16rem;
  border-radius: 16px;
  padding: 10px;
  position: fixed;
  box-shadow: var(--box-schadow);

}

.containerBody {
  grid-area: containerBody;
  height: 50rem;
}

ul h1 {
  margin: 10px 0 .5rem 0;
  padding: 0 1rem 10px 1rem;
  text-align: center;
  color: var(--text-color-white);
  border-bottom: var(--border-bottom);
}

ul li {
  width: 100%;
  padding: 16px 0 16px 16px;
}

ul li a {
  font-size: 1.2rem;
  color: var(--text-color-white);
}

ul li i {
  font-size: 1rem;
  padding: 0 10px;
  color: var(--text-color-white);
}