:root {
  --text-color-bt: #fff;
  --bt-background: #00D9A5;
  --text-color-menu: rgba(110, 128, 122, 0.8);
  --text-color-welcome: #6E807A;
  --background-welcome: #F7F5FD;
  --bachground-bt-nossos-dotores: #1D2A4D;
  --background-nossos-service: #F7F5FD;
  --h1-about: #13C5DD;
  --test-footer: #EFF5FF;
  --background-geral: rgba(255, 255, 255, 0.95);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  transition: all ease .5s;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal .card {
  width: 25rem;
  height: 30rem;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}